<!-- QBApp/templates/about.html -->
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>About QB!</title>
  </head>
  <body>
    <h1>About Open QB!</h1>
    <p>
      QB is a productivity tool for every Boomi developer who wants to do repetitive and booring activities in a automated way. It is for those who wants go further and analyze meta data about executions, processes status, extensions, quality of the integrations developed.
      <br>
      <br>
      Know more about QB <a href="https://drive.google.com/open?id=1HlUuw2BwWAv-_jUxL7dN5JYqKCufheNX7f-4oESwKuY" target="_blank">here </a> (put link to documentation here)
      <br>
      <br>
      <h2>Contributors</h2>
      <ul>
        <li>
          <a href="http://www.jaimehmol.me" target="_blank">Jaime Herran</a>. &nbsp&nbsp@jaimeHMol
        </li>
        <li>
          Christian Higa.
        </li>
      </ul>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <small>
        Know more about me in: <a href="http://www.jaimehmol.me" target="_blank">www.jaimehmol.me</a>
        <br>
        I don’t own the QB characters design and any of its images, it is the Kyubi from the Naruto manga and anime series and the rights belongs to its creator (Masashi Kishimoto).
        <br>
        All the Boomi logos and brands are property of their respective owners (Dell). All company, product and service names used in this website are for identification purposes only. Use of these names, logos, and brands does not imply endorsement.
      </small>
    </p>
    <br>
    <a href="..">Go back QB</a>
  </body>
</html>
