<!-- QBApp/templates/error.html -->
{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <title>QB error</title>
      {% load static %}
      <link rel="icon" href="{%  static 'favicon.ico' %}">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body class="bg-light">
      <div class="container">
        <div class="py-5">
          {% load static %}
          <img class="d-block mx-auto mb-4" src="{% static 'sadQB.png' %}" alt="" width="100" height="100">
          <h2>Sorry</h2>
          <p class="lead">There was an error!
            <br>
            <!-- Hagoromo -->
            <br>Please try <a href="..">your request again here</a>. If this error continue happening, contact the sage of the six paths to get guidance.</p>
            <div>
              <br><br>
              <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Error traceback
              </a>
            </div>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                {{errorTrace|linebreaksbr}}
              </div>
            </div>


        </div>
      </div>

      <h1> <br></h1>
      <h1> <br></h1>
      <a href="..">New search</a>


      <!-- Required for some bootsrap components -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <!-- ************************************ -->
    </body>
</html>
