<!-- QBApp/templates/people.html -->
{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <title>List of people</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        {% render_table table %}

    <h1> <br></h1>
    <h1> <br></h1>
    <a href="/">Go back home</a>
    </body>
</html>
